.event-listing-container {
  padding: 20px;
}

.event-card {
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
  margin-top: 0;
  color: #333;
}

.event-card p {
  margin: 5px 0;
  color: #666;
}
